#header{

    background-color: 	#311151;
    width: 100%;
    
}
.navbar{
    width: 90%;

    height:200px;
}

.background{
    background-color: #5a3972;
    color: white;

    font-family: "Courier New";
}

#behinddiv {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;

  width: 500px;
  height: 500px;
  color:red;
}

#containerimagens{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color:blue;
}

#imagem{
    color:gainsboro;
    height: 300px;
    width: 30%;
}

#presentation {

    align-content: center;  
     height: auto;
    
    flex-wrap: wrap;
}