#header{

    background-color: blueviolet;
    width: 100%;
    
    

}

.container{
    background: purple;
}

.navbar{
    width: 90%;
    color:purple;
    height:200px;
}

.background{
    background-color: beige;
}

#containerimagens{
    height: 300px;
    width: 100%;
    color:blue;
}

#imagem{
    color:gainsboro;
    height: 300px;
    width: 30%;
}